---
name: build
on:
  workflow_call:
    inputs:
      workspace-name:
        type: string
        required: true
      node-version-file:
        type: string
        required: true

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ${{ inputs.node-version-file }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: pnpm install
        run: pnpm install --frozen-lockfile
      - name: pnpm lint
        run: pnpm --filter ${{ inputs.workspace-name }} lint
      - name: pnpm build
        run: pnpm --filter ${{ inputs.workspace-name }} build
      - name: pnpm test
        run: pnpm --filter ${{ inputs.workspace-name }} test
