---
name: example-book
on:
  # SEE: https://github.com/actions/checkout/issues/15
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build.yml'
      - '.github/workflows/example-book.yml'
      - '.github/actions/**'
      - '.*'
      - 'Makefile'
      - 'package.json'
      - 'tsconfig.json'
      - 'packages/book/**'
      - 'packages/libs/**'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - '.github/workflows/example-book.yml'
      - '.github/actions/**'
      - '.*'
      - 'Makefile'
      - 'package.json'
      - 'tsconfig.json'
      - 'packages/book/**'
      - 'packages/libs/**'


jobs:
  build:
    uses: ./.github/workflows/build.yml
    with:
      workspace-name: 'book'
      node-version-file: '.node-version'
