---
name: hono-drizzle
on:
  # SEE: https://github.com/actions/checkout/issues/15
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build.yml'
      - '.github/workflows/hono-drizzle.yml'
      - '.github/actions/**'
      - '.*'
      - 'Makefile'
      - 'package.json'
      - 'tsconfig.json'
      - 'packages/hono-drizzle/**'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - '.github/workflows/hono-drizzle.yml'
      - '.github/actions/**'
      - '.*'
      - 'Makefile'
      - 'package.json'
      - 'tsconfig.json'
      - 'packages/hono-drizzle/**'
      - 'packages/libs/**'

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    env:
      WORKSPACE_NAME: 'hono-drizzle'
      NODE_VERSION_FILE: '.node-version'
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version-file: ${{ env.NODE_VERSION_FILE }}
      - uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: pnpm install
        run: pnpm install --frozen-lockfile
      - name: pnpm lint
        run: pnpm --filter ${{ env.WORKSPACE_NAME }} lint
      - name: pnpm build
        run: pnpm --filter ${{ env.WORKSPACE_NAME }} build
      - name: Start Docker Compose
        run: docker compose up -d
        working-directory: ./packages/${{ env.WORKSPACE_NAME }}
      - name: unit test
        run: pnpm --filter ${{ env.WORKSPACE_NAME }} test
      - name: Migrate database
        run: pnpm --filter ${{ env.WORKSPACE_NAME }} test:db:migrate
        working-directory: ./packages/${{ env.WORKSPACE_NAME }}
      - name: db test
        run: pnpm --filter ${{ env.WORKSPACE_NAME }} test:db
        working-directory: ./packages/${{ env.WORKSPACE_NAME }}
