---
name: pre-commit
on:
  # SEE: https://github.com/actions/checkout/issues/15
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: pre-commit
        id: pre-commit
        uses: pre-commit/action@v3.0.0
